<div class="speakers-image" id="{{speaker.id}}">
  <img class="speaker-image-large" alt="{{speaker.name}}"
       src="{{speaker.imageURL}}" data-speaker-id={{speaker.id}} >
  <h6>
    <span class="fontawesome-twitter"></span>
    <a href="{{speaker.twitterURL}}">{{speaker.twitterHandle}}</a>
  </h6>
</div>
